td {
  padding: 2px;
}

thead {
  font-weight: bold;
}

.position-hud {
  position: relative;
  height: 80px;
  width: 160px;
  z-index: 100;
  padding: 10px;
  background-color: white;
  color: black;
  user-select: text;
  line-height: 16px;
}
